# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.dSym

# Executables
*.exe
*.out
*.app

# IDE Stuff
.vscode

executor
target

examples/in
examples/out-*

examples/success
llmp-main
in-mem
testcase
test/unit_llmp
test/unit_test

testcases

example-fuzzer
examples/in-memory-fuzzer
examples/forking-fuzzer
llvm.prof
out
libaflfuzzer-test

crash*
timeout*
